<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>nosotros</servlet-name>
        <servlet-class>com.franciscocuevas.com.servlets.nosotros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mision</servlet-name>
        <servlet-class>com.franciscocuevas.com.servlets.mision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contacto</servlet-name>
        <servlet-class>com.franciscocuevas.com.servlets.contacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.franciscocuevas.com.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>nosotros</servlet-name>
        <url-pattern>/nosotros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mision</servlet-name>
        <url-pattern>/mision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contacto</servlet-name>
        <url-pattern>/contacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
